<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Inventario Restaurante{% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            Inventario Restaurante
        </a>

        <div>

            <a href="/" class="btn btn-outline-light me-2">
                Inicio
            </a>

            <a href="/productos/" class="btn btn-outline-light me-2">
                Productos
            </a>

            <a href="/admin/" class="btn btn-warning">
                Admin
            </a>

        </div>

    </div>

</nav>

<div class="container mt-5">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>