{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Inventario Restaurante
        {% endblock %}
    </title>

    <!-- GOOGLE FONT -->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="{% static 'modulo/css/base.css' %}">

</head>

<body>

    <nav class="navbar">

        <a
            href="{% url 'dashboard' %}"
            class="logo"
        >
            🍽 InventarioRest
        </a>

        <div class="navbar-right">

            <span class="welcome-text">

                Bienvenido,

                <strong>
                    {{ request.user.username }}
                </strong>

            </span>

            <div class="nav-links">

                <a
                    href="{% url 'logout' %}"
                    class="logout-btn"
                >
                    Cerrar Sesión
                </a>

            </div>

        </div>

    </nav>

    <main class="main-container">

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>