{% extends 'modulo/base.html' %}

{% block title %}
Dashboard Admin
{% endblock %}

{% block content %}

<div class="dashboard-hero">

    <h1 class="dashboard-title">
        Panel Administrador
    </h1>

</div>



{% if productos_stock_bajo %}

<div class="stock-alert">

    <h3>
        Productos con stock bajo
    </h3>

    <ul>

        {% for producto in productos_stock_bajo %}

            <li>

                <strong>{{ producto.nombre }}</strong>
                → Stock actual: {{ producto.stock_actual }}

            </li>

        {% endfor %}

    </ul>

</div>

{% endif %}


<div class="dashboard-grid">

    <a href="{% url 'productos' %}" class="dashboard-card">

        <span>📦</span>

        <h3>
            Productos
        </h3>

    </a>


    <a href="{% url 'salidas' %}" class="dashboard-card">

        <span>📤</span>

        <h3>
            Salidas
        </h3>

    </a>


    <a href="{% url 'categorias' %}" class="dashboard-card">

        <span>🏷️</span>

        <h3>
            Categorías
        </h3>

    </a>


    <a href="{% url 'proveedores' %}" class="dashboard-card">

        <span>🚚</span>

        <h3>
            Proveedores
        </h3>

    </a>


    <a href="{% url 'gestionar_roles' %}" class="dashboard-card">

        <span>🛡️</span>

        <h3>
            Gestionar Roles
        </h3>

    </a>


    <a href="{% url 'entradas' %}" class="dashboard-card">

        <span>📥</span>

        <h3>
            Entradas
        </h3>

    </a>


    <a href="{% url 'crear_usuario' %}" class="dashboard-card">

        <span>👤</span>

        <h3>
            Crear Usuarios
        </h3>

    </a>

</div>

{% endblock %}