{% extends 'modulo/base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="dashboard-hero">

    <h1 class="dashboard-title">
        Sistema de Inventario
    </h1>

    <p class="dashboard-text">

        Administra productos, controla el stock y gestiona el
        inventario del restaurante.

    </p>

</div>

<div class="stats-grid">

    <div class="stat-card">

        <h2>
            120
        </h2>

        <span>
            Productos
        </span>

    </div>

    <div class="stat-card">

        <h2>
            12
        </h2>

        <span>
            Categorías
        </span>

    </div>

    <div class="stat-card">

        <h2>
            8
        </h2>

        <span>
            Proveedores
        </span>

    </div>

</div>

{% endblock %}