{% extends 'modulo/base.html' %}

{% block title %}
Productos
{% endblock %}

{% block content %}

<div class="products-page">

    <div class="products-header">

    <h1 class="page-title">
        Categorías
    </h1>

    <div class="actions-group">

        <a href="{% url 'dashboard' %}"
           class="back-btn">
            Volver al inicio
        </a>
        {% if request.user.usuario.rol == 'admin' %}
        <a href="{% url 'crear_producto' %}"
           class="create-product-btn">
            Añadir producto
        </a>
        {% endif %}

    </div>

</div>

</div>

    <div class="products-card">

        <table class="products-table">

            <thead>

                <tr>

                    <th>Nombre</th>
                    <th>Precio C/U</th>
                    <th>Stock</th>
                    <th>Categoría</th>

                    {% if request.user.usuario.rol == 'admin' %}
                        <th>Acciones</th>
                    {% endif %}
                    
                </tr>

            </thead>

            <tbody>

                {% for producto in productos %}

                <tr>

                    <td>{{ producto.nombre }}</td>

                    <td>${{ producto.precio }}</td>

                    <td>{{ producto.stock_actual }}</td>

                    <td>{{ producto.categoria.nombre }}</td>

                    {% if request.user.usuario.rol == 'admin' %}

                        <td>

                            <div class="actions-group">

                                <a
                                    href="{% url 'editar_producto' producto.id %}"
                                    class="edit-btn"
                                >
                                    Editar
                                </a>

                                <a
                                    href="{% url 'eliminar_producto' producto.id %}"
                                    class="delete-btn"
                                    onclick="return confirm('¿Seguro que deseas eliminar este producto?')"
                                >
                                    Eliminar
                                </a>

                            </div>

                        </td>

                    {% endif %}

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}