{% extends 'modulo/base.html' %}

{% block title %}
Salidas
{% endblock %}

{% block content %}

<div class="products-page">

    <div class="products-header">

        <h1 class="page-title">
            Salidas de Inventario
        </h1>

        <div class="actions-group">
            <a href="{% url 'dashboard' %}" class="back-btn">
                Volver al inicio
            </a>

            <a href="{% url 'registrar_salida' %}"
            class="create-product-btn">

                Registrar Salida

            </a>
        </div>

    </div>

    <div class="products-card">

        <table class="products-table">

            <thead>

                <tr>

                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Motivo</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Acciones</th>

                </tr>

            </thead>

            <tbody>

                {% for salida in salidas %}

                <tr>

                    <td>
                        {{ salida.producto.nombre }}
                    </td>

                    <td>
                        {{ salida.cantidad }}
                    </td>

                    <td>
                        {{ salida.motivo }}
                    </td>

                    <td>
                        {{ salida.usuario.username }}
                    </td>

                    <td>
                        {{ salida.fecha }}
                    </td>

                    <td>

                        <div class="actions-group">

                            <a
                                href="{% url 'editar_salida' salida.id %}"
                                class="edit-btn"
                            >
                                Editar
                            </a>

                            {% if request.user.usuario.rol == 'admin' %}
                            <a
                                href="{% url 'eliminar_salida' salida.id %}"
                                class="delete-btn"
                                onclick="return confirm('¿Seguro que deseas eliminar esta salida?')"
                            >
                                Eliminar
                            </a>
                            {% endif %}

                        </div>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}